@{ 
    ViewBag.title = "Temples Appointments";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light background border-bottom box-shadow mb-3 rounded">
            <div class="container">
                <p class="navbar-brand text-dark border font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">@ViewBag.title</p>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark hover" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark hover" asp-area="" asp-controller="Home" asp-action="SignUp">Schedule An Appointment Today</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark hover" asp-area="" asp-controller="Home" asp-action="AppointmentList">See Current Appointments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted background">
        <div class="container text-dark">
            &copy; 2021 - _413_team_project <a href="https://www.linkedin.com/in/true-fullmer/">About Us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
